body {
    background-color: #2b3a67;
}

h3,
a {
    padding: 10px 0px;
    color: white;
}

h4 {
    padding: 20px 0px;
}

span {
    padding: 10px;
    color: white;
}

a:hover {
    text-decoration: none;
    color: aliceblue;
}

thead {
    background-color: #2b3a67;
    color: white;
}

.small_description_td {
    width: 150px;
}

td {
    background-color: #e9edc9;
}

.midium_description_td {
    width: 400px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 120px 0px;
}

.wide_btn {
    width: -webkit-fill-available;
}

.secretDiv {
    flex-direction: row;
    padding: 10px;
    display: none;
    color: #ED2939;
}

.authorize {
    width: 400px;
    padding: 50px;
    border-radius: 20px;
    background-color: white;
}

.flashMessage {
    background-color: #e41c38;
    border-radius: 10px;
    width: 390px;
    display: flex;
    color: white;
    justify-content: center;
    margin: 10px 10px;
    padding: 10px;
}

.searchBar {
    padding: 15px;
    border-radius: 5px;
}

.searchInput {
    margin: 0px 15px;
}

.linkInsideBtn {
    color: white;
    text-decoration: none;
}

.linkInsideBtn:hover {
    text-decoration: none;
}

.small_icon {
    width: 60px;
    padding: 10px;
}

/*admin*/
#display_users_flight {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: gold;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}